{% extends "home/main.html" %}
{% load static %}

{% block title %}Services - Arvi Law Chamber{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static "/css/services.css" %}">


<div class="servicescontainer">
    <div class="teamconttop">
        <div class="teamtophead">
            Services
        </div>
        <div class="teamtopinfo">
            <a href="/">Home</a>
            /
            <a href="">Services</a>
        </div>
    </div>


    <div class="servicescont">

        <div class="servicescontmain">
            <div class="servicesmainhead">
                <h1>Our Services</h1>
            </div>
            <div class="servicesmaindata">

            </div>
        </div>

    </div>
</div>



{% endblock content %}