{% extends "home/main.html" %}
{% load static %}

{% block title %}Services - Arvi Law Chamber{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static "/css/services.css" %}">


<div class="servicescontainer">
    <div class="teamconttop">
        <div class="teamtophead">
            Services
        </div>
        <div class="teamtopinfo">
            <a href="/">Home</a>
            /
            <a href="">Services</a>
        </div>
    </div>


    <div class="servicescont">

        <div class="servicescontmain">
            <div class="servicesmainhead">
                <h1>Our Services</h1>
            </div>
            <div class="servicesmaindata">
                
                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-landmark"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Civil Law
                        </h1>
                        <p class="databottominfo">
                            Resolving disputes between individuals or organizations, civil law encompasses non-criminal legal matters such as contracts and property.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-handcuffs"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Criminal Law
                        </h1>
                        <p class="databottominfo">
                            Enforcing justice in cases of wrongdoing, criminal law addresses offenses against public order and safety.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Family Law
                        </h1>
                        <p class="databottominfo">
                            Navigating domestic legal matters, family law resolves issues like divorce, custody, and spousal support with compassion.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Corporate Law
                        </h1>
                        <p class="databottominfo">
                            Guiding businesses through legal complexities, corporate law oversees governance, contracts, mergers, and compliance for organizational success.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Labour Law
                        </h1>
                        <p class="databottominfo">
                            Safeguarding workers' rights, labor law governs employment relationships, ensuring fair treatment, and just practices in the workplace.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

                <div class="servicesdatacont">
                    <div class="dataconttop">
                        <div class="datatopicon">
                            <i class="fa-solid fa-city"></i>
                        </div>
                    </div>
                    <div class="datacontbottom">
                        <h1 class="databottomhead">
                            Real Estate Law
                        </h1>
                        <p class="databottominfo">
                            Managing property transactions, real estate law facilitates legal aspects of buying, selling, and leasing properties for clients' interests.
                        </p>
                        <a href="/" class="databottommore">
                            Learn More
                        </a>
                    </div>
                </div>

            </div>
        </div>
        {% comment %} Why Choose Us {% endcomment %}

        <div class="serviceconttrust">
            <div class="servicetrustleft">
                <div class="trustlefttop">
                    <h1>Why Choose Us</h1>
                </div>
                <div class="trustleftcontainer">

                    <div class="trustleftdata">
                        <div class="trustdataconticon">
                            <i class="fa-solid fa-city"></i>
                        </div>
                        <div class="trustdatacontinfo">
                            <div class="trustcontinfohead">
                                <h2>Best Law Practices</h2>
                            </div>
                            <div class="trustcontinfodata">
                                <p>Exemplifying excellence, we employ the industry's best legal practices to ensure optimal solutions for clients.</p>
                            </div>
                        </div>
                    </div>

                    <div class="trustleftdata">
                        <div class="trustdataconticon">
                            <i class="fa-solid fa-city"></i>
                        </div>
                        <div class="trustdatacontinfo">
                            <div class="trustcontinfohead">
                                <h2>Efficiency & Trust</h2>
                            </div>
                            <div class="trustcontinfodata">
                                <p>Delivering with precision, our services prioritize efficiency and trust, building lasting client relationships with reliability.</p>
                            </div>
                        </div>
                    </div>

                    <div class="trustleftdata">
                        <div class="trustdataconticon">
                            <i class="fa-solid fa-city"></i>
                        </div>
                        <div class="trustdatacontinfo">
                            <div class="trustcontinfohead">
                                <h2>Results You deserve</h2>
                            </div>
                            <div class="trustcontinfodata">
                                <p>Dedicated to success, we strive for the results you deserve through strategic, client-focused legal representation and advocacy.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="servicetrustright">
                <div class="trustrightpiccont">
                    <img src="{% static "/images/chooseus.jpg" %}" alt="">
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock content %}