.servicescontainer{
    margin-top: 90px;
}

.servicescontainer .teamconttop{
    background: #b69d74;
    /* padding: 50px; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'EB Garamond', serif; */
    padding: 30px 0;
}

.teamconttop .teamtophead{
    font-size: 50px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    margin-bottom: 10px;
    color: #121518;
}

.teamconttop .teamtopinfo{
    letter-spacing: 1px;
    font-size: 20px;
}

.teamconttop .teamtopinfo a{
    text-decoration: none;
    color: #121518;
    transition: 0.4s;
}

.teamconttop .teamtopinfo a:hover{
    color: #fff;
}


.servicescontainer .servicescont{
    display: flex;
    flex-direction: column;
    margin: 70px 70px;
    align-items: center;
}

.servicescont .servicescontmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicescontmain .servicesmainhead h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    color: #121518;
}

.servicescontmain .servicesmaindata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesmaindata .servicesdatacont{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 30px 15px;
}

.servicesmaindata .servicesdatacont:hover .datatopicon i{
    margin-bottom: 15px;
}

.servicesmaindata .servicesdatacont:hover .datacontbottom .databottommore{
    background-color: #aa9166;
    color: #121518;
}

.servicesdatacont .dataconttop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    height: 200px;
}

.dataconttop .datatopicon i{
    background-color: #121518;
    padding: 16px;
    font-size: 60px;
    color: #aa9166;
    position: relative;
    transition: 0.5s;
}

.servicesdatacont .datacontbottom{
    background-color:#121518;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}

.datacontbottom .databottomhead{
    font-family: 'EB Garamond', serif;
    color: #aa9166;
    font-size: 30px;
    font-style: italic;
    margin: 20px 0;
}

.datacontbottom .databottominfo{
    color: #999999;
    font-size: 18px;
    padding: 5px 25px;
    margin-bottom: 20px;
}

.datacontbottom .databottommore{
    border: 2px solid #aa9166;
    background-color: #121518;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    color: #aa9166;
    transition: 0.5s;
    cursor: pointer;
}

/* Why Choose Us Style */


.serviceconttrust{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 40px 0;
}

.serviceconttrust .servicetrustleft{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trustleftcontainer .trustleftdata:hover .trustdataconticon i{
    margin-left: 20px;
}

.servicetrustleft .trustlefttop h1{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    color: #121518;
    font-size: 50px;
    margin-bottom: 45px;
}

.servicetrustleft .trustleftcontainer{
    display: flex;
    flex-direction: column;
}

.trustleftcontainer .trustleftdata{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.trustleftdata .trustdataconticon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121518;
    height: 180px;
    width: 250px;
    
}

.trustdataconticon i{
    width: 100px;
    height: 100px;
    font-size: 60px;
    padding: 7px 7px;
    color: #aa9166;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    position: relative;
}

.trustleftdata .trustdatacontinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    margin: 0 30px;
}

.trustdatacontinfo .trustcontinfohead h2{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 15px;
    color: #121518;
}

.trustdatacontinfo .trustcontinfodata p{
    box-sizing: border-box;
    font-size: 16px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.serviceconttrust .servicetrustright{
    background-color: aqua;
}

.servicetrustright .trustrightpiccont{
    height: 740px;
    width: 450px;
    overflow: hidden;
    border: 10px solid #121518;
}

.trustrightpiccont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}